name: inc-counter

on:
  pull_request:
    branches: main

jobs:
  get-commit-author:
    runs-on: ubuntu-latest
    outputs:
      commit-author: steps.check.outputs.author
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.action.pull_request.head.ref }}

      - name: Check previous commit author
        id: check
        run: echo "author=$(git show -s | grep Author)" >> $GITHUB_OUTPUT

      - name: Print orevious author
        run: echo "Previous ${{ steps.check.outputs.author }}"

      - name: Get workflow actor
        run: echo "${{ github.actor }}"

  inc-counter:
    runs-on: ubuntu-latest
    needs: get-commit-author
    if: ${{ !contains(needs.get-commit-author.outputs.commit-author, 'github-actions[bot]') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.action.pull_request.head.ref }}

      - name: Print current counter value
        run: echo "$(cat counter)"

      - name: Increment counter
        run: echo "$(($(cat counter) + 1))" > counter

      - name: Print new counter value
        run: echo "$(cat counter)"

      - name: Commit changes
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@user.noreply.github.com'
          git commit -am "Incremented counter [github-actions[bot]]"
          git push

  finish-workflow:
    runs-on: ubuntu-latest
    needs: inc-counter
    if: ${{ always() }}
    steps:
      - name: Print workflow finished
        run: echo "WORKFLOW FINISHED!"
